node_modules/
yarn.lock
.DS_Store
mysqli-connect.php
public/
.firebase/hosting.cHVibGlj.cache
.firebaserc
firestore.indexes.json
firestore.rules
functions/.eslintrc.json
storage.rules

.github/workflows/.hosting.yml.icloud
