node_modules/
yarn.lock
.DS_Store
mysqli-connect.php
public/*.woff
public/*.eot
public/*.svg
public/*.woff2
public/*.ttf
public/main.js
.firebase/hosting.cHVibGlj.cache
.firebaserc
firebase.json
firestore.indexes.json
firestore.rules
functions/.eslintrc.json
storage.rules
