.btn {
    padding: 10px;
    margin: 10px;
    background: $blueviolet;
    color: $white;
    border-radius: 5px;
    border: 2px solid $blueviolet;
    &:hover {
        text-decoration: none;
        background-color: $white;
        color: $blueviolet;
        transition: ease-in 0.5s;
        border: 2px solid $blueviolet;
    }
}

.btn.secondary {
    background: $royalblue;
    border-radius: 5px;
    border: 2px solid $royalblue;
    color: $white;
    &:hover {
        background-color: transparent;
        color: $blueviolet;
        border-radius: 5px;
        border: 1px solid $blueviolet;
        transition: ease-in 0.5s;
    }
}

.btn.rounded {
    border-radius: 20px;
    padding: 15px;
}

.btn.red {
    background: $red;
    border-radius: 5px;
    border: 2px solid $red;
    color: $white;
    &:hover {
        background-color: transparent;
        color: $red;
        border-radius: 5px;
        border: 2px solid $red;
        transition: ease-in-out 0.5s;
    }
}

.btn.orange {
    background: $tahitigold;
    border-radius: 5px;
    border: 2px solid $tahitigold;
    color: $white;
    &:hover {
        background-color: transparent;
        color: $tahitigold;
        border-radius: 5px;
        border: 2px solid $tahitigold;
        transition: ease-in-out 0.5s;
    }
}